<div>
  <h2 class="text-gray-200 text-xl font-normal uppercase border-b border-gray-700 pb-4 mb-4">
    Side Projects
  </h2>

  <ul>
    <li>
      <a href="https://obsidian.md/plugins?id=habit-tracker-21" target="_blank">
        <img src="/images/habit-tracker.png" alt="Screenshot of Habit Tracker 21 for Obsidian"/>
      </a>
      <a href="https://obsidian.md/plugins?id=habit-tracker-21" target="_blank" class="text-white font-bold">
        Habit Tracker 21 for Obsidian
      </a>
      <a href="https://obsidian.md/plugins?id=habit-tracker-21" target="_blank" style="display: inline-block"><img src="https://img.shields.io/github/downloads/zincplusplus/habit-tracker/total?label=Downloads&color=7c3aed" alt="Downloads" /></a></p>
      <p>Obsidian's most popular habit tracker. A minimalist, elegant plugin that helps you build lasting habits.

    </li>
    <li class="mt-6">
      <a href="https://ecsspert.com" target="_blank">
        <img src="/images/ecsspert-logos-preview.jpg" class="mb-3 rounded-lg" alt="Screenshot of eCSSpert.com"/>
      </a>
      <a href="https://ecsspert.com" target="_blank" class="text-white font-bold">
        eCSSpert.com
      </a>
      <p>The project that put my name on the map. <a href="https://news.ycombinator.com/item?id=3159660" target="_blank"><br />#1 on Hacker News</a>, trending on Twitter, and mentioned in <a href="https://www.theguardian.com/technology/2011/nov/14/flash-death-bad-windows-phone" target="_blank">The Guardian</a> as proof that Flash was dead. Poetic, given my first business was a Flash agency.</p>
    </li>
    <li class="mt-6">
      <a href="/imags/punks-not-dead.jpg" target="_blank">
        <img src="/images/punks-not-dead-preview.png" class="mb-3 rounded-lg" alt="Hero shot for a red tshirt with Ceausescu depicted on it, titled Punk's not dead"/>
      </a>
      <a href="/imags/punks-not-dead.jpg" target="_blank" class="text-white font-bold">
        Punk's not dead
      </a>
      <p>Winner of the Metalhead t-shirt contest. First design I ever made. The win came too easy, so I never made another.</p>
    </li>
    <!--
    <li class="mt-6">
      <a href="https://zoreet.com" target="_blank" class="text-white font-bold">zoreet.com</a>
      <p>zoreet is a to-do app that helps you focus on what you can achieve right now. Plan ahead, let go of unfinished tasks and celebrate your achievements.</p>
    </li> -->
  </ul>
</div>

<div class="mt-12">
  <h2 class="text-gray-200 text-xl font-normal uppercase border-b border-gray-700 pb-4 mb-4">
    CAREER HIGHLIGHTS
  </h2>

  <ul>
    <li>
      <a href="https://atlassian.com" target="_blank">
        <img src="/images/employers/atlassian.png" class="mb-3 rounded-lg" width="100%"  alt="Atlassian hero shot"/>
      </a>
      <a href="https://atlassian.com" target="_blank" class="text-white font-bold">
        Atlassian.com
      </a>
      <p>
        Today I'm a Lead Product Designer at Atlassian, shaping <a href="https://www.atlassian.com/software/jira/product-discovery" target="_blank">Jira Product Discovery</a>.
      </p>
    </li>
    <li class="mt-6">
      <a href="https://booking.com" target="_blank">
        <img src="/images/employers/booking.png" class="mb-3 rounded-lg" width="100%"  alt="Booking hero shot"/>
      </a>
      <a href="https://booking.com" target="_blank" class="text-white font-bold">
        Booking.com
      </a>
      <p>
        Worked on every single page of the Website in multiple roles: Manager, Lead Designer and Senior FE Developer.
      </p>
    </li>
    <li class="mt-6">
      <img src="/images/employers/imh.png" class="mb-3 rounded-lg" width="100%"  alt="imh.ro hero shot"/>
      <div class="text-white font-bold">
        imh.ro
      </div>
      <p>
        Where it all began. Co-founder of a PHP & Flash agency in Bucharet Romania.
      </p>
    </li>
  </ul>
</div>
